body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, h2 {
    color: white;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

nav {
    background-color: skyblue;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column; /* Cambiado a columna en todas las resoluciones */
    justify-content: flex-start; /* Alineación al inicio del contenedor */
    align-items: center; /* Centrado horizontalmente */
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
    height: 100vh; /* Altura total del viewport */
}

nav:hover {
    background-color: #555;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #555;
    transform: scale(1.1);
}

button {
    background-color: skyblue;
}

.container-products {
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.producto {
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    text-align: center;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

@media (min-width: 600px) {
    .container-products {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    nav {
        width: 200px;
        flex-direction: column; /* Ajuste a columna para todas las resoluciones */
        align-items: center; /* Centrado horizontal */
        padding: 20px 0;
        position: sticky;
        top: 0;
        height: 100vh;
    }

    nav a {
        padding: 10px 20px; 
    }

    header {
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    .container-products {
        width: calc(100% - 200px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    nav a {
        padding: 10px 30px;
        margin: 10px 0;
    }
}
